 /* ----------------------------------------------- */
/* Configurações Básicas */
/* ----------------------------------------------- */

/*Zerando bordas para ter maior domínio sobre os box*/
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    background-color: #fff; /*Define a cor do fundo*/
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif; /*a terceira opção é qualquer fonte daquela família, note que o nome da família não esta entre aspas.*/
    font-weight: 300; /*de acordo com a fonte que importamos*/
    font-size: 20px;
    text-rendering: optimizeLegibility; /*otimiza a renderização da fonte para letura, tendo uma melhor qualidade*/
}

/******************************************/
/**********     Menu Header     ***********/
/******************************************/
header{
    background-image: 
        linear-gradient(rgba(0,0,0, .6)),
        url(img/img-hero-header.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
header>div.slogan>h1{
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-size: 180%; 
}
.btn:link,
.btn:visited{
    border: 1px solid #e67e22;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    transition: .3s;
}
.btn-full{
    background-color: #e67e22;
    margin-right: 20px;
}
.btn:hover,
.btn:active{
    background-color: #cf6017;

}
.slogan{
    margin-top: 150px;
    margin-left: 10%;
}
.logo{
    height: 100px;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.main-nav>ul{
    list-style-type: none;
    display: flex;
    width: 600px;
    justify-content: space-around;
    align-items: center;
}
.main-nav>ul>li>a:link,
.main-nav>ul>li>a:visited{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition:  .5s;
    padding-bottom: 6px;
}
.main-nav>ul>li>a:hover,
.main-nav>ul>li>a:active{
    border-bottom: 2px solid #e67e22;
}
/******************************************/
/**********     Informações     ***********/
/******************************************/

section{
    padding: 80px 0;
}
h2{
    font-size: 180%;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.top>p{
    width: 70%;
    margin: 0 auto;
    line-height: 145%;
}